/*
  You don't need to touch this file to complete the assignment!
  Unless you want to add styles and make it look more beautiful.
*/

/*
  Some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: white;
  text-shadow: .2vw .2vw .2vw black;
  font-family: monospace;
}

.disabled {
  display: none;
}

.viewed {
  text-decoration: line-through;
}

.blue {
  color: blue;

}

h1 {
  font-size: 3.8vw;
}

p {
  font-size: 2vw;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1vh;
  background: #9eaeff;
}

#start-window {
  border: 2px solid black;
  border-radius: 2vw;
  width: 60%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: blue;
  box-shadow: 1vw 1vw 1vw black;
  padding: .8vw;
  margin: .8vw;


}

#start-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: 50%;
  padding: .8vw;
  margin: .8vw;


}

#start-name-input {
  padding: .8vw;
  margin: .8vw;
  text-align: center;
  text-justify: distribute-all-lines;
  width: 100%;
  font-size: 2vw;
  border-radius: 1vw;
  background-color: blue;
  border: 2px solid black;
  color: gold;

  box-shadow: .2vw .2vw .2vw black;
  max-height: max-content;
}

#start-name-input:focus {
  outline: 4px ridge gold;

}

#start-submit {
  padding: .8vw;
  margin: .8vw;
  width: 50%;
  font-size: 2vw;
  border-radius: 1vw;
  background-color: blue;
  border: 2px solid black;
  color: gold;
  box-shadow: .2vw .2vw .2vw black;
  max-height: max-content;


}